@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,200;1,500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

html {
    font-size: 10px;
    font-family: 'Poppins', 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

header.main-header {
    position: absolute;
    width: 100%;
    height: 80px;
}

.container {
    width: 1300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px auto;
}

header.main-header nav ul,
.banner-home .social-icons ul {
    display: flex;
}

header.main-header nav ul li,
.banner-home .social-icons ul li {
    /*para erliminar os bullets*/
    list-style: none;
}

header.main-header nav ul li a,
.banner-home .social-icons ul li a {
    color: #000000;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    padding: 24px;
    transition: all 200ms linear 0s;
    text-decoration: none;
}

.banner-home .social-icons ul li a {
    text-transform: none;
    border-right: 1px solid #000000;
    padding: 0 25px;
}

.banner-home .social-icons ul li:last-child a {
    border: 0;
}

.banner-home .social-icons ul li:first-child a {
    padding-left: 0;
}

.banner-home .social-icons {
    position: absolute;
    bottom: 10%;
}

header.main-header nav ul li a:hover,
.banner-home .social-icons ul li a:hover {
    font-weight: 600;
}

header.main-header img {
    height: 40px;
}

.banner-home {
    height: 100vh;
    display: flex;
    align-items: center;
    margin: auto;
    background-image: linear-gradient(174.2deg, rgba(255, 244, 228, 1) 7.1%, rgba(240, 246, 238, 1) 67.4%);
}

.banner-home h1 {
    font-size: 60px;
    font-weight: 800;
}

.banner-home p {
    font-size: 16px;
    color: #29323c;
    padding: 20px 0px;
}

.banner-home a.cta {
    font-size: 16px;
    font-weight: 700;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}

.button-cta img,
.image-banner-home .button-scroll-down img, .contact .button img {
    width: 17px;
    margin-left: 10px;
}

.button-cta {
    display: flex;
    align-items: center;
}

.image-banner-home img {
    width: 600px;
}

.image-banner-home .button-scroll-down {
    display: flex;
    transform: rotate(90deg);
    position: absolute;
    right: 0;
    bottom: 25%;
    align-items: center;
}

main .banner-about {
    width: 1300px;
    margin: auto;
}

main .banner-about h1 {
    padding-top: 30px;
    font-size: 60px;
    font-weight: 800;
}

main .banner-about p {
    font-size: 16px;
    color: #29323c;
    padding: 20px 0px;
}

main .banner-about .about img {
    max-width: 450px;
}

main .banner-about .about {
    display: flex;
    align-items: center;
}

main .banner-about .about span {
    font-size: 24px;
    font-weight: 600;
}

main .banner-about .about p {
    padding-left: 30px;
    font-size: 15px;
    text-align: justify;
}

.portfolio .banner-portfolio {
    height: 250px;
    background-color: #000000;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio .banner-portfolio h1 {
    color: #ffffff;
    font-size: 60px;
    font-weight: 800;
}

.portfolio .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1300px;
    gap: 15px;

}

.portfolio .container img {
    width: 100%;
    margin: 10px;
    border-radius: 4px;
    box-shadow: 6px 9px 10px 0px #00000029;
}

.contact {
    padding-top: 60px;
    max-width: 800px;
    margin: auto;
}

.contact h1 {
    font-size: 45px;
    font-weight: 800;
}

.contact p {
    font-size: 15px;
    text-align: justify;
}

.contact input,
.contact textarea {
    border: 0;
    border-bottom: 1px solid #a1a1a1;
    width: 100%;
    height: 50px;
    font-size: 14px;
    font-family: 'Poppins', 'Times New Roman', Times, serif;
    margin-top: 20px;
}

::-webkit-input-placeholder {
    /* Edge */
    color: #a1a1a1;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #a1a1a1;
}

::placeholder {
    color: #a1a1ac1;
}

.contact .button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 30px;
}

.contact button {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    background-color: #ffffff;
    border: 0;
}

footer {
   max-width: 600px;
   margin: auto;
   padding-top: 100px;
}
footer h3{
    border-top: 1px solid #a1a1a1; ;
    padding: 30px 0px;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}